<template>
  <div class="ui stackable grid vertically padded container twitter">
    <div class="four wide column">
      <UserSidebar :user="user"/>
      <WhoToFollow/>
    </div>
    <div class="eight wide column">
      <div class="ui segment ">
        <Tweets
          :tweets.sync="tweets"
          :auth-user="user"
        />

      </div>
    </div>
  </div>
</template>

<script>
  import EventBus from '@/eventBus';
  import UserSidebar from '@/components/User/UserSidebar';
  import Tweets from '@/components/Tweet/Tweets';
  import WhoToFollow from '@/components/User/WhoToFollow';
  import {UserStore} from "../controller/user";
  import {TimelineController} from "@/controller/timeline";

  export default {
    name: 'Hashtag',
    components: {
      UserSidebar,
      Tweets,
      WhoToFollow
    },
    data() {
      return {
        user: '',
        tweets: [],
        store: UserStore()
      }
    },
    beforeRouteEnter(to, from, next) {
      const token = localStorage.getItem('tweetr-token');
      return token ? next() : next('/login')
    },
    created() {
      this.fetchAuthenticatedUser();
      this.fetchUserTimeline();
      EventBus.$on('tweets.refresh', this.fetchUserTimeline);
    },
    methods: {
      fetchAuthenticatedUser() {
        try {
          const token = localStorage.getItem('tweetr-token');
          this.user = UserStore().getOne(token);
        } catch (e) {
          this.notification = {...e};
        }
      },
      fetchUserTimeline() {
        try {
          this.tweets = TimelineController
            .searchByHashTag(this.$route.params.tag)
            .sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));
          console.log(this.tweets);
        } catch (e) {
          console.log(e);
          this.notification = {...e};
        }
      }
    }
  }
</script>
