<template>
  <div class="ui small feed">
    <div class="event" v-for="reply in replies" :key="reply.id">
      <div class="label">
        <img :src="`https://api.adorable.io/avatars/285/${reply.user.username}.png`">
      </div>
      <div class="content">
        <div class="summary">
          <router-link :to="`/${reply.user.username}`">
            {{ reply.user.name }}
            <small>{{ `@${reply.user.username}` }}</small>
          </router-link>
          <div class="date">
            {{ reply.date | timeAgo }}
          </div>
        </div>
        <div class="extra text">
          {{ reply.reply }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Replies',
    props: {
      replies: {
        type: Array,
        required: true
      }
    }
  }
</script>
