<template>
  <div class="ui stackable two column centered vertically padded grid container">
    <div class="column ui segment">
      <a class="ui button mini secondary" @click="back">Back</a>
      <div class="ui feed">
        <div class="event">
          <div class="label">
            <img :src="`https://api.adorable.io/avatars/285/${tweet.user.username}.png`">
          </div>
          <div class="content">
            <div class="summary">
              <router-link :to="`/${tweet.user.username}`">
                {{ tweet.user.name }}
                <small>{{ `@${tweet.user.username}` }}</small>
              </router-link>
            </div>

            <div class="extra text">
              <span v-html="hashTag(tweet.tweet)">
              </span>
            </div>

            <TweetReactions
              :tweet="tweet"
              :replies="replies"
              :favorites.sync="tweet.favorites"
              :auth-user="authUser"
            />

          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <form class="ui form" @submit.prevent="replyTweet">
        <div class="field">
          <textarea name="reply" v-model="reply" rows="2" placeholder="Reply tweet"></textarea>
        </div>

        <button class="ui button secondary" :disabled="!isFormValid">Reply</button>
      </form>

      <Replies :replies="replies"/>
    </div>
  </div>
</template>

<script>
  import Replies from '@/components/Tweet/Replies'
  import TweetReactions from '@/components/Tweet/TweetReactions'
  import {TweetStore} from "@/controller/tweet";
  import {UserStore} from "@/controller/user";
  import {ReplyStore} from "@/controller/reply";
  import Vue from "vue";


  export default {
    name: 'SingleTweet',
    components: {
      Replies,
      TweetReactions,
    },
    data() {
      return {
        tweet: {
          user: {}
        },
        replies: [],
        reply: '',
        authUser: ''
      }
    },
    computed: {
      isFormValid() {
        return !!this.reply
      }
    },
    created() {
      this.fetchTweet();
      this.fetchAuthenticatedUser()
    },
    methods: {
      fetchTweet() {
        try {
          let tweet = TweetStore().findById(this.$route.params.id);
          //tweet.tweet = Vue.compile(tweet.tweet);
          tweet.user = UserStore().findById(tweet.userId);
          //lets finish later
          tweet.favorites = [];
          this.tweet = tweet;
          this.replies = ReplyStore().getByTweetWithUser(tweet.id, UserStore).toArray();
        } catch (e) {
          console.log(e);
        }

      },
      back() {
        this.$router.go(-1)
      },
      makeToken() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16)
        );
      },
      replyTweet() {
        const token = localStorage.getItem('tweetr-token');
        const save = {
          id: this.makeToken(),
          userId: token,
          tweetId: this.tweet.id,
          reply: this.reply,
          date: new Date()
        };
        ReplyStore().add(save);
        this.replies.push({...save, user: this.authUser});
        delete this.reply;
      },
      fetchAuthenticatedUser() {
        const token = localStorage.getItem('tweetr-token');
        try {
          this.authUser = UserStore().getOne(token);
        } catch (e) {
          this.notification = {type: 'error', message: e.message};
        }

      },
      hashTag(data) {
        if (data) {
          const matches = data.match(/#(\S*)/g);
          if (matches) {
            for (const match of matches) {
              data = data.replace(match, `<a href="/#/hashtag/${match.replace('#', '')}">${match}</a>`)
            }
          }
          return data;
        } else {
          return data
        }
      }
    }
  }
</script>
