<template>
  <div class="meta">
    <router-link :to="`/${tweet.user.username}/status/${tweet.id}`">
      <a class="reply">
        <i class="reply icon"></i>
        {{ (replies || []).length }}
      </a>
    </router-link>
    <a class="like" v-if="isFavoritedByUser" @click="unFavoriteTweet">
      <i class="like red icon"></i> {{ (favorites || []).length }}
    </a>
    <a class="like" v-else @click="favoriteTweet">
      <i class="like icon"></i> {{ (favorites || []).length }}
    </a>
  </div>
</template>

<script>
  import {FavoriteStore} from "@/controller/favorite";

  export default {
    name: 'TweetReactions',
    props: {
      tweet: {
        type: Object,
        required: true
      },
      authUser: {
        type: Object,
        required: true
      },
      replies: {
        type: Array,
        required: true
      },
      favorites: {
        type: Array,
        required: true
      }
    },

    computed: {
      isFavoritedByUser() {
        return (this.favorites || []).filter(favorite => favorite.userId === this.authUser.id).length > 0;
      }
    },
    methods: {
      makeToken() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16)
        );
      },
      favoriteTweet() {
        const token = localStorage.getItem('tweetr-token');

        const save = {
          userId: token,
          tweetId: this.tweet.id,
          id: this.makeToken(),
          date: new Date()
        };

        const favourite = FavoriteStore().add(save);
        this.favorites.push(favourite);
      },
      unFavoriteTweet() {
        try {
          const favorite = this.favorites.reduce((obj, row) => {
            if (row.userId === this.authUser.id) {
              obj = {...row};
            }
            return obj;
          }, {});

          FavoriteStore().remove(favorite);
          this.favorites = this.favorites.filter(favorite => favorite.userId !== favorite.userId);
        } catch (e) {
          console.log(e);
        }
      }
    }
  }
</script>
