<script>
  import Vue from "vue";

  export default {
    name: 'TweetContent',
    props: {
      tweet: {
        type: Object,
        required: true
      }
    },
    template: '<span :is="content"></span>',
    data() {
      return {
        content: function (tweet) {
          const matches = tweet.tweet.match(/#(\S*)/g);
          const content = matches.map(match => {
            return tweet.tweet.split(match).join(`<router-link :to="/hashtag/$1">${match}</router-link>`);
          });
          return Vue.compile(content);
        }(this.tweet)
      }
    }
  }
</script>
