<template>
  <div class="tweet">

    <div class="avatarContainer">
      <img :src="`https://api.adorable.io/avatars/285/${tweet.user.username}.png`" class="avatar" width="70"
           height="70">
    </div>

    <div class="tweetBody">
      <div class="tweetHead">
                    <span class="author">
                      <router-link :to="`/${tweet.user.username}`">
                        {{ tweet.user.name }}
                        <small>{{ `@${tweet.user.username}` }}</small>
                      </router-link>
                    </span>
        {{ tweet.createdAt | timeAgo }}
        <small v-if="canDeleteTweet" style="cursor:pointer;">
          <a @click="deleteTweet(tweet.id)">Delete Tweet</a>
        </small>
      </div>
      <!-- <router-link :to="`/${tweet.user.username}/status/${tweet.id}`"> -->
      <div class="tweetContent">
          <span v-html="hashTag(tweet.tweet)">
            {{ tweet.tweet }}
          </span>
      </div>
      <!-- </router-link> -->

      <div class="tweetReactions">
        <TweetReactions
          :tweet="tweet"
          :replies="tweet.replies"
          :favorites.sync="tweet.favorites"
          :auth-user="authUser"
        />
      </div>
    </div>

  </div>
</template>

<script>
  import TweetReactions from '@/components/Tweet/TweetReactions'
  import {TweetStore} from "@/controller/tweet.js"
  import {UserStore} from "@/controller/user.js"

  export default {
    name: 'Tweet',
    components: {
      TweetReactions
    },
    props: {
      tweet: {
        type: Object,
        required: true
      },
      authUser: {
        type: Object,
        required: true
      }
    },
    created() {
      this.tweet.user = UserStore().getOne(this.tweet.userId);
    },
    computed: {
      canDeleteTweet() {
        return this.tweet.userId === this.authUser.id
      }
    },
    methods: {
      deleteTweet(tweetId) {
        const deleteConfirmed = confirm('Are you sure?');

        if (deleteConfirmed) {
          TweetStore().remove(tweetId);
          this.$emit('delete', tweetId);
        }
      },
      hashTag(data) {
        if (data) {
          const matches = data.match(/#(\S*)/g);
          if (matches) {
            for (const match of matches) {
              data = data.replace(match, `<a href="/#/hashtag/${match.replace('#', '')}">${match}</a>`)
            }
          }
          return data;
        } else {
          return data
        }
      }
    }
  }

</script>
<style>
  .avatarContainer {
    margin-right: 20px;
  }

  .avatar {
    margin-top: 3px;
    border-radius: 50%;
  }

  .tweetBody {
    margin-top: 5px;
  }

  .tweetHead {
    font-size: 13px;
  }

  .author {
    font-size: 14px;
    font-weight: bold;
  }

  .tweetContent {
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    color: rgba(0, 0, 0, .87);
  }

  .tweetReactions {
    margin-top: 12px;
    cursor: pointer;
  }
</style>
