<template>
  <div>
    <Tweet
      v-for="tweet in tweets"
      :key="tweet.id"
      :tweet="tweet"
      :auth-user="authUser"
      v-on:delete="removeDeletedTweet"
    />
  </div>
</template>

<script>
  import Tweet from '@/components/Tweet/Tweet'
  import EventBus from '@/eventBus'

  export default {
    name: 'Tweets',
    components: {
      Tweet
    },
    props: {
      tweets: {
        type: Array,
        required: true
      },
      authUser: null
    },
    created() {
      // listen for event fired
      EventBus.$on('tweet.added', this.fetchAddedTweet);
    },
    methods: {
      fetchAddedTweet(tweet) {
        // add tweet to top of tweets
        return this.tweets.unshift(tweet)
      },
      removeDeletedTweet(tweetId) {
        const filteredTweets = this.tweets.filter(tweet => tweet.id !== tweetId);

        this.$emit('update:tweets', filteredTweets)
      }
    }
  }
</script>
<style>
  .avatarContainer {
    margin-right: 20px;
  }

  .avatar {
    margin-top: 3px;
    border-radius: 50%;
  }

  .tweetBody {
    margin-top: 5px;
  }

  .tweetHead {
    font-size: 13px;
  }

  .author {
    font-size: 14px;
    font-weight: bold;
  }

  .tweetContent {
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
  }
</style>
