<template>
  <div class="ui stackable three column centered grid container">
    <div class="column">
      <h2 class="ui dividing header">Log In</h2>

      <Notification
        :message="notification.message"
        :type="notification.type"
        v-if="notification.message"
      />

      <form class="ui form" @submit.prevent="login">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" v-model="username" placeholder="Username" required>
        </div>

        <div class="field">
          <label>Password</label>
          <input type="password" name="password" v-model="password" placeholder="Password" required>
        </div>

        <button class="fluid ui secondary button">LOG IN</button>

        <div class="ui hidden divider"></div>
      </form>

      <div class="ui divider"></div>

      <div class="ui column grid">
        <div class="center aligned column">
          <p>
            Don't have an account?
            <router-link to="/signup">Sign Up</router-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Notification from '@/components/Notification';
  import {UserStore} from '@/controller/user';

  export default {
    name: 'LogInForm',
    components: {
      Notification
    },
    data() {
      return {
        username: '',
        password: '',
        notification: {
          message: '',
          type: ''
        },
        store: UserStore()
      }
    },
    beforeRouteEnter(to, from, next) {
      const token = localStorage.getItem('tweetr-token');
      return token ? next('/') : next()
    },
    methods: {
      async login() {
        try {
          const response = this.store.login(this.username, this.password);
          if (!response) {
            throw {message: "User not found.", type: "error"}
          }

          localStorage.setItem('tweetr-token', response.id);
          this.$router.push('/');
        } catch (e) {
          this.username = this.password = '';
          this.notification = {...e};
        }
      }
    }
  }
</script>
