<template>
  <div class="ui stackable three column centered grid container">
    <div class="column">
      <h2 class="ui dividing header">Sign Up, it's free!</h2>

      <Notification :message="notification.message" :type="notification.type" v-if="notification.message"/>

      <form class="ui form" @submit.prevent="register">
        <div class="field" :class="{ error: errors.has('name') }">
          <label>Full Name</label>
          <input type="text" name="name" v-model="name" v-validate="'required'" placeholder="Full name">
          <span v-show="errors.has('name')" class="is-danger">{{ errors.first('name') }}</span>
        </div>

        <div class="field" :class="{ error: errors.has('username') }">
          <label>Username</label>
          <input type="text" name="username" :class="{'input': true, 'is-danger': errors.has('username') }"
                 v-model="username" v-validate="'required'"
                 placeholder="Username">
          <span v-show="errors.has('username')" class="is-danger">{{ errors.first('username') }}</span>
        </div>

        <div class="field" :class="{ error: errors.has('password') }">
          <label>Password</label>
          <input type="password" name="password" :class="{'input': true, 'is-danger': errors.has('password') }"
                 v-model="password"
                 v-validate="'required'" placeholder="Password">
          <span v-show="errors.has('password')" class="is-danger">{{ errors.first('password') }}</span>
        </div>

        <button class="fluid ui secondary button" :disabled="!isFormValid">SIGN UP</button>

        <div class="ui hidden divider"></div>
      </form>

      <div class="ui divider"></div>

      <div class="ui column grid">
        <div class="center aligned column">
          <p>
            Got an account?
            <router-link to="/login">Log In</router-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Notification from '@/components/Notification';
  import {UserStore} from '@/controller/user';

  export default {
    name: 'SignUpForm',
    components: {
      Notification
    },
    data() {
      return {
        name: '',
        username: '',
        password: '',
        notification: {
          message: '',
          type: ''
        },
        store: UserStore()
      }
    },
    computed: {
      isFormValid() {
        return Object.keys(this.fields).every(key => this.fields[key].valid)
      }
    },
    beforeRouteEnter(to, from, next) {
      const token = localStorage.getItem('tweetr-token');
      return token ? next('/') : next()
    },
    methods: {
      makeToken() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16)
        );
      },
      register() {
        try {
          if (this.name.length === 0) {
            throw {message: "Please enter your name", type: "error"};
          }

          if (this.username.length === 0) {
            throw {message: "Please enter your username", type: "error"};
          }

          if (this.password.length === 0) {
            throw {message: "Please enter your password", type: "error"};
          }

          let user = this.store.findByUsername(this.username);
          if (!!user && !!user.id) {
            throw {message: "User already registered.", type: "error"};
          }

          //save the user to db
          const save = {
            username: this.username,
            password: this.password,
            name: this.name,
            id: this.makeToken(),
            createdAt: new Date()
          };
          user = this.store.add(save);

          localStorage.setItem('tweetr-token', save.id);
          this.$router.push('/');
        } catch (e) {
          console.log(e);
          this.notification = {...e};
        }
      }
    }
  }
</script>
