<template>
  <div id="twitter">
    <header>
      <div class="inner">
        <div class="headerSection">
          <router-link to="/" class="link">Home</router-link>
        </div>
        <div class="headerSection">
          <img src="./img/logo2.png" width="50" height="48">
          <small>MPP Social</small>
        </div>
        <div class="headerSection">
          <input
            type="text"
            name="search"
            class="search"
            placeholder="Search.."
            v-if="$route.path == '/'"
          >
        </div>
        <div class="headerSection" v-if="$route.path != '/login' && $route.path != '/signup'">
          <a class="item" style="cursor:pointer;" @click="logout">
            <i class="sign out icon"></i>
          </a>
        </div>
      </div>
    </header>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: "app",
  methods: {
    logout() {
      localStorage.removeItem('tweetr-token');
      this.$router.push('/login')
    }
  }

};
</script>

<style>
/* body {
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .is-danger {
    color: #9f3a38;
  } */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e6ecf0;
  margin: 0;
}

#twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet {
  display: flex;
  background-color: #fff;
  /* width: 65%; */
  max-width: 900px;
  min-height: 110px;
  padding: 10px 20px;
  border-bottom: 1px solid #e6ecf0;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 57px;
  line-height: 55px;
  margin-bottom: 32px;
  background: #fff;
  border-bottom: 1px solid #e5eff5;
}

header .inner {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerSection {
  width: 33%;
  text-align: center;
}

.headerSection:first-child {
  display: flex;
  justify-content: center;
}

header .link {
  color: #3a3a3a;
  width: 50px;
  border-bottom: 2px solid #646464;
  text-decoration: unset;
  display: block;
  font-weight: bold;
  padding: 0 15px;
}

.search {
  align-self: center;
  width: 200px;
  height: 35px;
  padding: 10px;
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  color: #14171a;
  outline: 0;
}

.tweetLink {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  padding: 6px 16px;
  margin-left: 15px;
}

.tweetLink:hover {
  background-color: #006dbf;
  border-color: #006dbf;
}
</style>
