<template>
  <div class="column">
    <div class="ui card">
      <div class="content">
        <img class="right floated mini ui image" :src="`https://api.adorable.io/avatars/285/${user.username}.png`">
        <div class="header">
          <router-link :to="`/${user.username}`">{{ user.name }}</router-link>
        </div>
        <div class="meta">
          <p class="no-margin">{{ `@${user.username}` }}</p>
          {{`${(user.tweets || []).length}`}} tweet(s)
        </div>
        <div class="description">
          {{ user.bio }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserCard',
  props: {
    user: {
      type: Object,
      required: true
    }
  }
}
</script>
