<template>
  <div>
    <UserProfileHeader
      :user="user"
      :auth-user="authUser"
    />
    <div class="ui stackable grid container">
      <div class="four wide column">
        <UserProfileSidebarDetails :user="user"/>
      </div>
      <div class="eight wide column">
        <div class="ui segment">
          <h2 class="ui medium dividing header">Tweets</h2>

          <Tweets
            :tweets.sync="tweets"
            :auth-user="authUser"
          />
        </div>

      </div>
      <div class="four wide column">
        <WhoToFollow v-if="isLoggedIn"/>
      </div>
    </div>
  </div>
</template>

<script>
  import UserProfileHeader from '@/components/User/Profile/UserProfileHeader'
  import UserProfileSidebarDetails from '@/components/User/Profile/UserProfileSidebarDetails'
  import WhoToFollow from '@/components/User/WhoToFollow'
  import Tweets from '@/components/Tweet/Tweets'
  import {TimelineController} from "@/controller/timeline"
  import {UserStore} from "@/controller/user"
  import {FollowerStore} from "@/controller/follower"
  import {FavoriteStore} from "@/controller/favorite"

  export default {
    name: 'UserProfile',
    components: {
      UserProfileSidebarDetails,
      UserProfileHeader,
      WhoToFollow,
      Tweets
    },
    data() {
      return {
        user: '',
        authUser: '',
        tweets: []
      }
    },
    beforeRouteUpdate(to, from, next) {
      this.fetchUser(to.params.username);
      next()
    },
    computed: {
      isLoggedIn() {
        return !!this.authUser
      }
    },
    created() {
      this.fetchUser(this.$route.params.username);
      const token = localStorage.getItem('tweetr-token');
      if (token) {
        this.fetchAuthenticatedUser(token)
      }
    },
    methods: {
      fetchUser(username) {
        try {
          this.user = UserStore().getByUsername(username);
          this.user.tweets = this.tweets;
          this.user.following = FollowerStore().getFollowingByUser(this.user.id).toArray();
          this.user.followers = FollowerStore().getByUser(this.user.id).toArray();
          this.user.favorites = FavoriteStore().getByUser(this.user.id).toArray();
          this.tweets = TimelineController.me(this.user.id);
        } catch (e) {
          this.notification = {...e};
        }

      },
      fetchAuthenticatedUser(token) {
        try {
          this.authUser = UserStore().getOne(token);
        } catch (e) {
          this.notification = {...e};
        }

      }
    }
  }
</script>
