<template>
  <div>
    <UserProfileHeader
      :user="user"
      :auth-user="authUser"
    />
    <div class="ui stackable grid container">
      <div class="four wide column">
        <UserProfileSidebarDetails :user="user"/>
      </div>
      <div class="twelve wide column">
        <div class="ui segment">
          <div class="ui three column grid">
            <UserCard
              v-for="following in user.following"
              :key="following.id"
              :user="following"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import UserProfileHeader from '@/components/User/Profile/UserProfileHeader';
  import UserCard from '@/components/User/Profile/UserCard';
  import UserProfileSidebarDetails from '@/components/User/Profile/UserProfileSidebarDetails';
  import {UserStore} from "@/controller/user";
  import {FollowerStore} from "@/controller/follower"
  import {FavoriteStore} from "@/controller/favorite"
  import {TimelineController} from "@/controller/timeline"
  import Notification from '@/components/Notification';
  import {TweetStore} from "@/controller/tweet";

  export default {
    name: 'UsersFollowing',
    components: {
      UserProfileHeader,
      UserCard,
      UserProfileSidebarDetails
    },
    data() {
      return {
        user: '',
        authUser: '',
        notification: {
          message: '',
          type: ''
        }
      }
    },
    beforeRouteUpdate(to, from, next) {
      this.fetchUser(to.params.username);
      next()
    },
    computed: {
      isLoggedIn() {
        return !!this.authUser
      }
    },
    created() {
      this.fetchUser(this.$route.params.username);
      const token = localStorage.getItem('tweetr-token');
      if (token) {
        this.fetchAuthenticatedUser(token)
      }
    },
    methods: {
      setUser(username) {
        if (username && username.length) {
          return this.user = UserStore().getByUsername(username);
        }
        const token = localStorage.getItem('tweetr-token');
        return this.user = UserStore().findById(token);
      },
      fetchUser(username) {
        try {
          this.setUser(username);
          this.user.tweets = this.tweets;
          this.user.following = FollowerStore().getFollowingUsers(this.user.id, UserStore, TweetStore).toArray();
          this.user.followers = FollowerStore().getFollowingByUser(this.user.id).toArray();
          this.user.favorites = FavoriteStore().getByUser(this.user.id).toArray();
          this.user.tweets = TimelineController.me(this.user.id);
        } catch (e) {
          console.log(e);
          this.notification = {type: 'error', message: e.message};
        }

      },
      fetchAuthenticatedUser(token) {
        try {
          this.authUser = UserStore().getOne(token);
        } catch (e) {
          this.notification = {type: 'error', message: e.message};
        }

      }
    }
  }
</script>
