<template>
  <div class="ui segment">
    <div class="ui grid container">
      <div class="four wide column">
        <img class="ui tiny avatar image" :src="`https://api.adorable.io/avatars/285/${user.username}.png`">
      </div>
      <div class="bottom aligned twelve wide column">
        <div class="ui horizontal relaxed link list">
          <div class="item">
            <div class="content">
              <router-link :to="`/${user.username}`">
                <div class="header">Tweets</div>
                <strong>{{ user.tweets.length }}</strong>
              </router-link>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <router-link :to="isOwner ? `/following` : `/${user.username}/following`">
                <div class="header">Following</div>
                <strong>{{ user.following.length }}</strong>
              </router-link>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <router-link :to="isOwner ? `/followers` : `/${user.username}/followers`">
                <div class="header">Followers</div>
                <strong>{{ user.followers.length }}</strong>
              </router-link>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <router-link :to="isOwner ? `/favorites` : `/${user.username}/favorites`">
                <div class="header">Likes</div>
                <strong>{{ user.favorites.length }}</strong>
              </router-link>
            </div>
          </div>
        </div>
        <!--<div class="ui right floated horizontal list" v-if="isOwner">-->
        <!--<router-link to="/settings/profile" class="ui button secondary">Edit profile</router-link>-->
        <!--</div>-->
        <div class="ui right floated horizontal list" v-if="isLoggedIn && !isOwner">
          <!--<button class="ui tiny primary button" v-if="user.isFollowing" @click="unFollow()">Unfollow</button>-->
          <!--<button class="ui tiny primary button" v-else @click="follow()">Follow</button>-->
          <button class="ui tiny primary button" @click="unFollow()">
            {{ user.isFollowing ? 'Unfollow' : 'Follow'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {FollowerStore} from "@/controller/follower"

  export default {
    name: 'UserProfileHeader',
    props: {
      user: {
        type: Object,
        required: true
      },
      authUser: {
        type: Object,
        required: true
      }
    },
    created() {
      this.isFollowing();
    },
    computed: {
      isOwner() {
        return this.user.id === this.authUser.id
      },
      isLoggedIn() {
        return !!this.authUser
      }
    },
    methods: {
      follow() {
        FollowerStore().add({userId: this.user.id, followerId: this.authUser.id});
      },
      unFollow() {
        if (this.isFollowing()) {
          FollowerStore().remove({userId: this.user.id, followerId: this.authUser.id});
        } else {
          this.follow();
        }

        this.$nextTick(this.isFollowing);
      },
      isFollowing() {
        const fw = FollowerStore().findOne({userId: this.user.id, followerId: this.authUser.id});
        this.user.isFollowing = !!(fw && fw.userId);
        console.log(this.user);
        return this.user.isFollowing;
      }
    }
  }
</script>
