<template>
  <div>
    <div class="ui attached segment">
      <form class="ui form" @submit.prevent="postTweet">
        <div class="field">
          <textarea name="tweet" v-model="tweet" rows="2"
                    :placeholder="`Whats on your mind?`"></textarea>
        </div>

        <button class="ui button fluid secondary" :disabled="!isFormValid">Post</button>
      </form>
    </div>
    <div class="ui bottom attached menu">
      <router-link class="item" to="/">
        <i class="home icon"></i>
      </router-link>
      <router-link class="item" :to="`/${user.username}`">Profile</router-link>
      <!-- <router-link class="item" to="/settings/profile">Settings</router-link> -->
      <a class="item" @click="logout">
        <i class="sign out icon"></i>
      </a>
    </div>
  </div>
</template>

<script>
  import EventBus from '@/eventBus';
  import {UserStore} from "@/controller/user";
  import {TweetStore} from "@/controller/tweet";

  export default {
    name: 'UserSidebar',
    props: {
      user: null
    },
    data() {
      return {
        tweet: '',
        userStore: UserStore(),
        store: TweetStore()
      }
    },
    created() {
      // const token = localStorage.getItem('tweetr-token');
      // this.user = this.userStore.findById(token);
    },
    computed: {
      isFormValid() {
        return !!this.tweet
      }
    },
    methods: {
      makeToken() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16)
        );
      },
      postTweet() {
        const token = localStorage.getItem('tweetr-token');
        const save = {
          tweet: this.tweet,
          createdAt: new Date(),
          userId: token,
          id: this.makeToken()
        };

        const tweet = this.store.add(save);
        EventBus.$emit('tweet.added', {...tweet, replies: [], favorites: []});
        delete this.tweet;
      },
      logout() {
        localStorage.removeItem('tweetr-token');
        this.$router.push('/login')
      }
    }
  }
</script>
