<template>
  <div class="ui segment">
    <h2 class="ui medium dividing header">Recomended Users</h2>
    <i class="refresh link icon" @click="fetchWhoToFollow"></i>

    <div class="ui divided link items">
      <div class="item" v-for="user in usersToFollow" :key="user.id">
        <div class="ui avatar image">
          <img :src="`https://api.adorable.io/avatars/285/${user.username}.png`">
        </div>
        <div class="content">
          <router-link class="ui small header" :to="`/${user.username}`">
            {{ user.name }}
            <small>{{ `@${user.username}` }}</small>
          </router-link>
          <div class="meta">
            <button class="ui compact button mini primary" @click="followUser(user.id)">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {UserStore} from "@/controller/user";
  import {FollowerStore} from "@/controller/follower";

  export default {
    name: 'WhoToFollow',
    data() {
      return {
        usersToFollow: ''
      }
    },
    created() {
      this.fetchWhoToFollow()
    },
    methods: {
      fetchWhoToFollow() {
        try {
          const token = localStorage.getItem('tweetr-token');
          this.usersToFollow = UserStore().getWhoToFollow(token).toArray();
        } catch (e) {
          this.notification = {...e};
        }
      },
      followUser(userId) {
        try {
          const token = localStorage.getItem('tweetr-token');
          const save = {
            followerId: token,
            userId: userId,
            date: new Date()
          };

          const follower = FollowerStore().add(save);
          this.fetchWhoToFollow();

          //refresh the user dashboard
          this.$emit('tweets.refresh');

        } catch (e) {
          this.notification = {...e};
        }
      }
    }
  }
</script>
